<%- include('partials/header') %>

<div class="container mt-5 colo">
  <h1>forget password</h1> <span><%=forgetPass%></span>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/forgetPassword" method="POST">
            <div class="form-group">
              <input type="<%=inpType%>" class="form-control" placeholder="<%=inpHolder%>" name="username" />
            </div>
            <div class="form-group">
              <input type="<%=hid%>" class="form-control" placeholder="New password" name="newPass"/>
            </div>
            <div class="form-group">
              <input type="<%=hid%>" class="form-control" placeholder="Confirm new password" name="confirmPass"/>
            </div>
            <button type="submit" class="btn btn-dark">Reset Password</button>
            <a href="/" style="margin-left: 30px;">home</a>
            <a href="/resendCode" style="margin-left: 50px;"><%=hidCode%></a>
          </form>
          
        </div>
      </div>
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>
