<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/forgetPassword" method="post">
        <input type="<%=inpType%>" placeholder="<%=inpHolder%>" name="username"/>
        <input type="<%=hid%>" placeholder="new password" name="newPass"/>
        <input type="<%=hid%>" placeholder="confirm new password" name="confirmPass"/>

        <input type="submit"/>
        <h1><%=forgetPass%></h1>
    </form>
</body>
</html>